/*
#ffffff; Color#1
#dddddd; Color#2
#bbbbbb; Color#3
#eeeeee; Color#4
#aaaaaa; Color#5
#cccccc; Color#6
*/

QWidget
{
background-color: #ffffff;
    color:#212121;
    icon-size: 24px;

    font:normal;
    font-family:"Sans Pro";
    font-size:32px;
}

QMenuBar, QMenu
{
    background-color: #dddddd;
    icon-size: 24px;
    spacing: 0px;
    padding: 0px;
}

QMenuBar::item
{
    border: none;
    padding: 0px;
    margin: 0px;
    icon-size: 24px;
}

QMenu::item
{
    border: none;
    padding: 24px;
    margin: 0px;
    icon-size: 24px;
}

QTreeView
{
    background-color: #ffffff;
    color:#212121;
    border:none;
}

QTreeView::branch:closed:has-children
{
    image: url(:/media/DropDownBlack);
    width: 24px;
    height: 24px;
    icon-size: 24px;
}

QTreeView::branch:open:has-children
{
    image: url(:/media/DropUpBlack);
    height: 24px;
    width: 24px;
    icon-size: 24px;
}
